body {
    height: 100vh!important;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.section {
    height: 100vh;
    overflow: scroll;
}

.card-image {
    max-height: 250px;
    overflow: hidden;
}

.alwaysActive {
    display: block!important;
}

.modal-content {
    height: 80vh;
    width: 80vw;
    overflow-x: hidden;
}

.is-clickable:hover {
    cursor: pointer;
}

.is-no-focus:focus {
    outline: none!important;
}